<div class="userprofileform">
{{#if user}}
<img class="imagesProfile" src="{{user.imageUrl}}" width="200" height="200" alt="hi">
<h2 class="userprofiletexth2">{{user.username}}</h2>
<h3 class="emailprofile">{{user.email}}</h3>

<hr class="emailhrline">
<!---<p>{{user.description:}}</p>--->
 <p  class="userprofiletextP">{{user.foodPreferences}}</p>
<img class="user-img {{_id}}" src="{{imageUrl}}" alt="{{username}}" />
{{else}}
<p class="userprofiletextP">Still no logged in user, sorry!</p>
{{/if}}
</div>

<div class="buttonsprofile">
{{#if isOwner}}

<button class="editprofilebuttonprofile"  type="submit">
  <a href="/auth/profile/{{_user.id}}edit">Edit Profile</a>
</button>
<br>
<button class="favouritesbuttonprofile" type="submit">
  <a href="/favourites">Favourites</a>
</button>
<br>
<button class="createrecipeprofile" type="submit">
  <a href="/private/create-recipe">Create recipe</a>
</button>
</div>

{{/if}}

<!--add created reciped here-->
<div class="recipeuserprofile">
{{#each reversedCreated}}
<h3 class="userprofiletexth3">{{title}}</h3>

<a href="/recipe-details/{{_id}}">
  <img class="imagerecipe" src="{{imageUrl}}" width="200" height="200" alt="{{title}}" />
</a>
</div>
{{/each}}