<nav>

<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/homepage">Homepage</a>

</nav>
{{#if user}}
  <h2>{{user.username}}</h2>
  <h3>{{user.email}}</h3>
  <!---<p>{{user.description:}}</p>
  <p>{{user.foodPreferences}}</p>--->
  <img class="user-img {{_id}}" src="{{imageUrl}}" alt="{{username}}" /> 
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}

<button type="submit">
    <a href="/profile/id/edit">Edit Profile</a>
</button>

<button type="submit">
    <a href="/liked-post">Favourites</a>
</button>

<button type="submit">
    <a href="/private/create-recipe">Create recipe</a>
</button>