
<section class="backgroundlogin">
<form class="loginform6" action="/edit-recipe/{{_id}}" method="POST" enctype="multipart/form-data">

  <label for="title"> Title:</label>
  <input class="textlabel" type="text" name="title" value="{{title}}" />
 <br>
  <br />
  <label class="textlabel" for="ingredients"> Ingredients:</label>
  <input class="textlabel" type="text" name="ingredients" value="{{ingredients}}" />
  <br />

  <br />
  <label class="textlabel" for="instructions"> Instructions:</label>
  <input class="textlabel" type="text" name="instructions" value="{{instructions}}" />
  <br />

  <p class="textlabel"> Category </p>

  <select id="category" name="category" multiple>
    <option class="textlabel" label="omnivorous"> omnivorous</option class="textlabel">
    <option class="textlabel" label="vegetarian"> vegetarian</option class="textlabel">
    <option class="textlabel" label="vegan"> vegan</option class="textlabel">
    <option class="textlabel" label="drinks"> drinks</option class="textlabel">
    <option class="textlabel" label="mediterranean"> mediterranean</option class="textlabel">
    <option class="textlabel" label="african"> african</option class="textlabel">
    <option class="textlabel" label="no carbs"> no carbs</option class="textlabel">
    <option class="textlabel" label="gluten free"> gluten free</option class="textlabel">
    <option class="textlabel" label="pescatarian"> pescatarian</option class="textlabel">
    <option class="textlabel" label="sweets"> sweets</option class="textlabel">
    <option class="textlabel" label="latinoamerican"> latinoamerican</option class="textlabel">
    <option class="textlabel" label="asian"> asian</option class="textlabel">
    <!--<input type="text" name="instructions" value="{{user.foodPreferences}}" />-->

  </select>
  <br>
  <br />

  <label for="image"> Image:<input type="file" name="imageUrl" /></label>
  <br />
  <br>

  <button class="confirmbutton" type="submit">Confirm</button>
  <br />
<a href="/profile">Go back</a>
</form>
</section>