<nav>

  <a href="/profile">Profile</a>
  <a href="/search">Search</a>
  <a href="/homepage">Homepage</a>

</nav>

<h2>Edit your profile</h2>

<form action="/auth/profile/edit" method="POST">

  <label for="username"> Username:</label>
  <input type="text" name="username" value="{{user.username}}" />
 
  <br />
  <label for="email"> Email:</label>
  <input type="text" name="email" value="{{user.email}}" />
  <br />

  <br />
  <label for="password"> Password:</label>
  <input type="text" name="password" value="{{user.password}}" />

  <br />
  <p> would you like to eat? </p>

  <select id="foodPreferences" multiple>
    <option label="omnivorous"> omnivorous</option>
    <option label="vegetarian"> vegetarian</option>
    <option label="vegan"> vegan</option>
    <option label="drinks"> drinks</option>
    <option label="mediterranean"> mediterranean</option>
    <option label="african"> african</option>
    <option label="no carbs"> no carbs</option>
    <option label="gluten free"> gluten free</option>
    <option label="pescatarian"> pescatarian</option>
    <option label="sweets"> sweets</option>
    <option label="latinomerican"> latinomerican</option>
    <option label="asian"> asian</option>
    <!--<input type="text" name="instructions" value="{{user.foodPreferences}}" />-->

  </select> 
  <br />

   <br />
  <label for="recipesmade"> Your recipes:</label>
  <input type="text" name="recipesmade" value="{{user.recipesMade}}" />
  <br />

  <label for="imageUrl"> Image:</label>
  <input type="file" name="imageUrl" />
  <br />
  <button type="submit"> Confirm</button>
</form>

<br />
<a href="/profile">Go back</a>


<button type="submit">
    <a href="/auth/logout">Log out</a>
</button>
