<h2>Edit your recipe</h2>

<form action="/edit-recipe/{{_id}}" method="POST" enctype="multipart/form-data">

  <label for="title"> Title:</label>
  <input type="text" name="title" value="{{title}}" />

  <br />
  <label for="ingredients"> Ingredients:</label>
  <input type="text" name="ingredients" value="{{ingredients}}" />
  <br />

  <br />
  <label for="instructions"> Instructions:</label>
  <input type="text" name="instructions" value="{{instructions}}" />
  <br />

  <p> Category </p>

  <select id="category" name="category" multiple>
    <option label="omnivorous"> omnivorous</option>
    <option label="vegetarian"> vegetarian</option>
    <option label="vegan"> vegan</option>
    <option label="drinks"> drinks</option>
    <option label="mediterranean"> mediterranean</option>
    <option label="african"> african</option>
    <option label="no carbs"> no carbs</option>
    <option label="gluten free"> gluten free</option>
    <option label="pescatarian"> pescatarian</option>
    <option label="sweets"> sweets</option>
    <option label="latinomerican"> latinomerican</option>
    <option label="asian"> asian</option>
    <!--<input type="text" name="instructions" value="{{user.foodPreferences}}" />-->

  </select>
  <br />

  <label for="image"> Image:<input type="file" name="imageUrl" /></label>
  <br />

  <button type="submit">Confirm</button>
  <br />

</form>
<a href="/profile">Go back</a>