


<button class="createbuttonhomepage"> <a class="createbuttonhomepage" href="/private/create-recipe"> CREATE A RECIPE </a> </button>
<br>
<br>

    {{#each reversed}}

<section class="sectionborder">

    <div class="sectionrecipehomepage">

<a href="/recipe-details/{{_id}}">
    <h4 class="homepagetexth4">{{title}}</h4>
</a>

    <a href="/recipe-details/{{_id}}">
        <img class="imagerecipe" src="{{imageUrl}}" width="300" height="300" alt="{{title}}" />
    </a>
    </div>


 <div class="sectiontitleownerhomepage">

<a href="/profile/{{owner._id}}">
    <h3 class="homepagetexth3">{{owner.username}}</h3>
</a>

    <!-- <a href="/profile/{{owner.username}}"> -->
<a href="/profile/{{owner._id}}">
    <img class="imagesProfile" src="{{owner.imageUrl}}" width="100" height="100" alt="{{recipe.owner.username}}">
</a>

    <h4 class="homepagetexth4"> {{recipe.owner.username}}</h4>

</div>

    <form  class="likebuttonprofile" action="/favourites/{{_id}}" method="POST">
        <button class="likeButton">LIKE</button>
        <!--when this is pushed it need to push the recipe in to recipesLiked-->
    </form>
    </section>
    <br>
    <hr class="breaklinehomepage">
    {{/each}}
   
