  <h2>FEED</h2>

    {{#each reversed}}

    <h3>{{title}}</h3>

    <a href="/recipe-details/{{_id}}">
        <img src="{{imageUrl}}" width="200" height="200" alt="{{title}}" />
    </a>

    <h4>{{owner.username}}</h4>

    <!-- <a href="/profile/{{owner.username}}"> -->

    <img src="{{owner.imageUrl}}" width="100" height="100" alt="{{recipe.owner.username}}">
    <h4> {{recipe.owner.username}}</h4>



    <form action="/favourites/{{_id}}" method="POST">
        <button>LIKE</button>
        <!--when this is pushed it need to push the recipe in to recipesLiked-->
    </form>
    {{/each}}