<nav>

<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/homepage">Homepage</a>

</nav>
<button> <a href="/private/create-recipe"> CREATE A RECIPE </a> </button>

<form action="/homepage" method="GET" enctype="multipart/form-data">

<h2>FEED</h2>

{{#each reversed}}

<h3>{{title}}</h3>

<a href="/recipe-details/{{id}}"> 
    <img src="{{imageUrl}}" alt="{{title}}" /> 
</a>

<h4>{{owner.username}}</h4>

<!-- <a href="/profile/{{owner.username}}"> -->

<img src= "{{owner.imageUrl}}" alt ="{{recipe.owner.username}}">
<h4> {{recipe.owner.username}}</h4>



<button>LIKE</button> <!--when this is pushed it need to push the recipe in to recipesLiked-->
{{/each}}

</form>