<nav>

<a href="/profile">Profile</a>
<a href="/search">Search</a>
<a href="/homepage">Homepage</a>

</nav>

<h2>{{title}}</h2>

<p>Ingredients: {{ingredients}}</p>

<p>Instructions: {{instructions}}</p>

<img class="recipe-img {{_id}}" src="{{imageUrl}}" alt="{{title}}" />

<p>{{category}}</p>

<a href="/profile/{{_id}}">Go to the chefs profile</a>

<h2>Leave your comments and tips</h2>
<<<<<<< HEAD
<form action='/recipe-details/{{_id}}' method='POST'>
=======

<form action='/recipe-details/{{_id}}' method='POST'>

  <textarea type='text' name='comment'></textarea>

>>>>>>> bb55cc482097abfb01991649691568cb0ae6477f



<form action="/recipe-details/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</form>
