

<h2>{{title}}</h2>

<p>Ingredients: {{ingredients}}</p>

<p>Instructions: {{instructions}}</p>

<img class="recipe-img {{_id}}" src="{{imageUrl}}" alt="{{title}}" />

<p>{{category}}</p>


<a href="/profile/{{owner._id}}">Go to the chefs profile</a>

  <h2>Comments and tips</h2>
<form action='/recipe-details/{{_id}}' method='POST'>

  <textarea type='text' name='message'></textarea>

  <button type="submit">Send comment</button>

</form>

{{#each comments}}

  <h4>Author: {{owner.username}}</h4>
  
  <p>{{message}}</p>

{{/each}}

<a href="/edit-recipe/{{_id}}"></a>
  <button>
    Edit
  </button>
</a>


<form action="/recipe-details/{{_id}}/delete" method="POST">
  <button type="submit">Delete</button>
</for