  <section>
         <div class="headerlayout1">
            <a href="/homepage"><img class="imagelogoheader" src="/images/logofood.jpg" width="70px" height="70px"></a>
         </div>
      </section>
<div class="bottomdivlikedpost" style="height: 120px"> </div>
<section class="recipedetails">
<h2>{{recipe.title}}</h2>

<img class="imagerecipe" class="recipe-img {{_id}}" src="{{recipe.imageUrl}}" width="300" height="300" alt="{{recipe.title}}" />
<p class="userprofiletextP">{{recipe.category}}</p>


 <button class="submitButton" type="submit"><a href="/profile/{{recipe.owner._id}}">Go to the chefs profile</a></button>
<br>
<br>

<h3 class="userprofiletexth3">Ingredients</h3> 
<p class="recipedetailsingredients"> {{recipe.ingredients}}</p>

<h3 class="userprofiletexth3">Instructions </h3>
<p  class="recipedetailsingredients">{{recipe.instructions}}</p>

<div class="differentcolor" widht="100%">

<br>
<br>


<h4 class="textrecipedetails1">Comments and tips</h4>
<form action='/recipe-details/{{recipe._id}}' method='POST'>

  <textarea type='text' col="10" name='message'></textarea>

  <br>
  <br>

  <button class="submitButton" type="submit">Send</button>

<br>
<br>

</form>

{{#each recipe.comments}}

<h4>Author: {{owner.username}}</h4>

<p class="recipedetailsingredients">{{message}}</p>

{{/each}}

{{#if isOwner}}

</div>
<br>
<br>
<br>

<div class="buttonseditdelete">
<a href="/edit-recipe/{{recipe._id}}">
  <button class="editButton">
    Edit </button>
</a>

<br>


<form class="formrecipedetails" action="/recipe-details/{{recipe._id}}/delete" method="POST">
  <button class="deleteButton" type="submit">Delete</button>
  </form>
  </section>

  {{/if}}

  </div>

 <footer class="footer">

            <a class="footerProfile2" href="/profile"> <button class="footerProfile1"> profile </button> </a>
            <br>
            <a class="footerSearch1" href="/search"> <button class="footerSearch"> search </button> </a>
            
         </footer>
      </div>